#cartoon {
display: block; 
margin: 0 auto;
}

#logo {
height: 100%;
}
#trial {
color:blue;
display: block;
margin: 0 auto;
}

#history, #meeting, #new, #questions, #ask {
  text-align:center;
}

#history, #meeting, #new {
  text-decoration:underline;
}

#video {
  display:block;
  margin:0 auto;
}

#current, #exec, #next {
  text-align:center;
}

#current {
  text-decoration:underline;
}

#title {
  text-align:center;
}
