#cartoon {
display: block; 
margin: 0 auto;
}

#logo {
height: 100%;
}
#trial {
color:blue;
display: block;
margin: 0 auto;
}

#history, #meeting, #new, #video, #questions, #ask {
  text-align:center;
}
